.custom-shape-divider-top-1687985140 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: translateY(-1px);
}

.custom-shape-divider-top-1687985140 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1687985140 .shape-fill {
  fill: #a1674a;
}

/** For mobile devices **/
@media (max-width: 640px) {
  .custom-shape-divider-top-1687985140 svg {
    width: calc(100% + 1.3px);
    height: 75px;
  }
}
